useDynLib("RcppMLPACK", .registration=TRUE)
export("RcppMLPACK.package.skeleton",
       "test_r_binding",
       "lars",
       "pca",
       "serialize_gaussian_kernel_to_xml",
       "serialize_lars_to_xml",
       "Serialize",
       "Unserialize")
import(xml2)
importFrom("Rcpp", "evalCpp")
importFrom("utils", "packageDescription", "package.skeleton")
